In [6]:
import csv
import re

In [ ]:
#olah data dari data sensor (txt)
rows = []
with open('test10mei22#1(naikTangga).txt') as f:
    lines = f.readlines()

for line in lines:
    data = re.search(r"(.*) -> A0 (.*) A1 (.*) A2 (.*) A3 (.*) A4 (.*) A5 (.*) ", line)
    rows.append([data.group(1), int(data.group(2)), int(data.group(3)), int(data.group(4)), int(data.group(5)), int(data.group(6)), int(data.group(7))])

print(rows)

In [12]:
#write data sensor menjadi data csv
header = ['timestamp', 'A0', 'A1', 'A2', 'A3', 'A4', 'A5']
with open('data_sensor10mei22#1(naikTangga).csv', 'w', encoding='UTF8', newline='') as f:
    writer = csv.writer(f)

    # write the header
    writer.writerow(header)

    # write the data
    for row in rows:
        writer.writerow(row)

# STOP SAMPAI DI SINI

In [14]:
import re
line = "15:18:14.499 -> A0 133 A1 568 A2 328 A3 625 A4 621 A5 441 "
data = re.search(r"(.*) -> A0 (.*) A1 (.*) A2 (.*) A3 (.*) A4 (.*) A5 (.*) ", line)
print(data.group(2))

133

In [36]:
#multiply data sensor menjadi 3 kali
header = ['timestamp', 'A0', 'A1', 'A2', 'A3', 'A4', 'A5']
with open('data_sensor.csv', 'w', encoding='UTF8', newline='') as f:
    writer = csv.writer(f)

    # write the header
    writer.writerow(header)

    # write the data
    for row in rows:
        writer.writerow(row)
        writer.writerow(row)
        writer.writerow(row)

In [41]:
#Coba gabung tapi belum pas
import pandas as pd
a = pd.read_csv("data_sensor.csv")
b = pd.read_csv("data_angle.csv").astype(int)
merged = pd.concat([a, b])
merged

         timestamp     A0     A1     A2     A3     A4     A5  fps  angle
0     15:18:07.281  363.0  636.0  660.0  499.0  519.0  321.0  NaN    NaN
1     15:18:07.281  363.0  636.0  660.0  499.0  519.0  321.0  NaN    NaN
2     15:18:07.281  363.0  636.0  660.0  499.0  519.0  321.0  NaN    NaN
3     15:18:07.374  364.0  637.0  660.0  491.0  515.0  317.0  NaN    NaN
4     15:18:07.374  364.0  637.0  660.0  491.0  515.0  317.0  NaN    NaN
...            ...    ...    ...    ...    ...    ...    ...  ...    ...
3616           NaN    NaN    NaN    NaN    NaN    NaN    NaN  9.0   19.0
3617           NaN    NaN    NaN    NaN    NaN    NaN    NaN  9.0   39.0
3618           NaN    NaN    NaN    NaN    NaN    NaN    NaN  9.0   40.0
3619           NaN    NaN    NaN    NaN    NaN    NaN    NaN  9.0   46.0
3620           NaN    NaN    NaN    NaN    NaN    NaN    NaN  9.0   40.0

[7242 rows x 9 columns]